<main>
  <div>
    <!-- conectando formularios -->
    <form [formGroup]="form">
      <input type="text" formControlName="nome">
      <input type="email" formControlName="email">
      <button *ngIf="cadastrando" (click)="cadastrarUsuarios()">Enviar</button>
      <button *ngIf="!cadastrando" (click)="editarUsuario()">Editar</button>
    </form>
  </div>

  <div>
    <div class="a" *ngFor="let usuario of listaUsuarios; index as i;">
      <p>{{usuario.nome}}</p>
      <br>
      <p>{{usuario.email}}</p>
      <br>
      <button (click)="pegarDados(usuario)">editar</button>
      <br>
      <button (click)="deletarUsuario(usuario.id)">excluir</button>
    </div>
  </div>
</main>